<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta name="theme-color" content="#1F2A44">
<meta name="format-detection" content="telephone=no">
{{- $canonical := cond .IsHome site.BaseURL .Permalink -}}
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="canonical" href="{{ $canonical }}">
<link rel="sitemap" type="application/xml" href="/sitemap.xml">
{{ partial "head/description.html" . }}
{{ partial "head/favicon.html" . }}
{{ partial "head/og.html" . }}
{{ partialCached "head/preload.html" . }}
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
